process {
    withLabel:inhouse {
        container = '/home/groups/CEDAR/mulqueen/bc_multiome/multiome_bc.sif'
    }
    withLabel:scrub {
        container = '/home/groups/CEDAR/mulqueen/bc_multiome/multiome_scrub.sif'
    }
    withLabel:scenic {
        container = '/home/groups/CEDAR/mulqueen/bc_multiome/scenicplus.sif'
    }
}

singularity.enabled = true
singularity.autoMounts = true
cpus = 35
memory = 450.GB
