process {
    withLabel:inhouse {
        container = '/home/groups/CEDAR/mulqueen/bc_multiome/multiome_bc.sif'
    }
    withLabel:scrub {
        container = '/home/groups/CEDAR/mulqueen/bc_multiome/multiome_scrub.sif'
    }
}

singularity.enabled = true
singularity.autoMounts = true
cpus = 30
memory = 300.GB
